#form {
    max-width: 420px;
    margin: 50px auto;
}

#form input {
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid rgba(var(--color-primary-500), 1);
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

#form input:focus {
    border: 2px solid rgba(var(--color-primary-700), 1);
}

#form textarea {
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 150%;
    background-color: transparent;
    border: 2px solid rgba(var(--color-primary-500), 1);
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
    height: 150px;
    resize: vertical;
}

#form textarea:focus {
    border: 2px solid rgba(var(--color-primary-700), 1);
}

#form button {
    width: 100%;
    background: rgba(var(--color-primary-800), var(--tw-bg-opacity));
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}

#form button:hover {
    background: rgba(var(--color-primary-700), var(--tw-bg-opacity));
}